<button mat-button [matMenuTriggerFor]="employer">업체 관리</button>
<mat-menu #employer="matMenu" [xPosition]="'before'" [yPosition]="'below'">
  <button mat-menu-item>업체관리</button>
  <button mat-menu-item>삭제된 업체관리</button>
</mat-menu>
<button mat-button [matMenuTriggerFor]="call">콜 관리</button>
<mat-menu #call="matMenu">
  <button mat-menu-item>콜관리</button>
  <button mat-menu-item>배정 관</button>
</mat-menu>
<button mat-button [matMenuTriggerFor]="employee">인력 관리</button>
<mat-menu #employee="matMenu">
  <button mat-menu-item>인력관리</button>
  <button mat-menu-item>인력현</button>
  <button mat-menu-item>삭제된 인력 관리</button>
  <button mat-menu-item>펑크 관리</button>
</mat-menu>
<button mat-button [matMenuTriggerFor]="etc">기타</button>
<mat-menu #etc="matMenu">
  <button mat-menu-item>블렉리스트</button>
</mat-menu>
