<button mat-button [matMenuTriggerFor]="employer">업체 관리</button>
<mat-menu #employer="matMenu" [xPosition]="'after'" [yPosition]="'below'">
  <button mat-menu-item routerLink="/admin">업체관리</button>
  <button mat-menu-item routerLink="/admin/deleted-store">삭제된 업체관리</button>
</mat-menu>
<button mat-button [matMenuTriggerFor]="call">콜 관리</button>
<mat-menu #call="matMenu" [xPosition]="'after'" [yPosition]="'below'">
  <button mat-menu-item routerLink="/admin/call">콜관리</button>
  <button mat-menu-item routerLink="/admin/assignment">배정 관리</button>
</mat-menu>
<button mat-button [matMenuTriggerFor]="employee">인력 관리</button>
<mat-menu #employee="matMenu" [xPosition]="'after'" [yPosition]="'below'">
  <button mat-menu-item routerLink="/admin/employee">인력관리</button>
  <button mat-menu-item routerLink="/admin/">인력현황</button>
  <button mat-menu-item routerLink="/admin/store">삭제된 인력 관리</button>
  <button mat-menu-item routerLink="/admin/store">펑크 관리</button>
</mat-menu>
<button mat-button [matMenuTriggerFor]="etc">기타</button>
<mat-menu #etc="matMenu" [xPosition]="'after'" [yPosition]="'below'">
  <button mat-menu-item>블렉리스트</button>
</mat-menu>
