@import "../../scss/style";
:host {
  width: 100%;
  display: block;
  border-bottom: solid 1px #eee;
  color: $primaryColor;

  .header-container {
    font-weight: bold;
    font-size: 30px;
    padding: 16px 0;
  }
}
