@import "../../scss/style";
:host {
  width: 100%;
  height: 60px;
  display: block;
  border-bottom: solid 1px #eee;
  color: $primaryColor;

  .header-container {
    font-weight: bold;
    font-size: 30px;
  }
}
