@import "../../scss/style.scss";
:host {
  width: 90%;
  display: block;
  margin: 30px auto;
  .table {
    width: 100%;
  }
}
input {
  margin: 8px 1%;
  display: inline-block;
  min-height: 30px;
}
.control-label {
  width: 7%;
  margin: 8px 0;
  display: inline-block;
}
.small {
  width: 15.7%;
}
.address {
  width: 60%;
}
.detail-address {
  width: 21%;
}
.medium {
  width: 24%;
}
.large {
  width: 90%;
}
.add-btn {
  background-color: $primaryColor;
  color: #fff;
  border: solid 0;
}
.deleted {
  background-color: red;
  color: #fff;
}
