<table class="table">
  <thead>
  <tr>
    <th>일련 변호</th>
    <th>상호명</th>
    <th>사장 이름</th>
    <th>전화 번호</th>
    <th>사장 번호</th>
    <th>간단 주소</th>
    <th>상세 주소</th>
    <th>최초 가입일</th>
    <th>현재 가입일</th>
    <th>가입 만기일</th>
    <th>현재 가입금액</th>
    <th>구좌 수</th>
    <th>남은 콜</th>
    <th>수</th>
    <th>삭제</th>
    <th>가입 내역</th>
    <th>재가입</th>
    <th>배정 내역</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr *ngFor="let callRow of callList">
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </tbody>
</table>
