@import "../../scss/style";
:host {
  display: block;
  width: 100%;
}
.employer-contianer {
  width: 900px;
  padding: 16px;
  border-radius: 10px;
  border: solid 1px #ccc;
  margin: 30px auto;
  >mat-tab-group {
    width: 100%;
    .content {
      width: 100%;
      margin: 25px auto;
    }
    .form-label {
      display: block;
      width: 25%;
      float: left;
      padding: 8px 0;
      margin: 10px 0;
    }
    .form-input {
      width: 68%;
      min-height: 46px;
      padding: 10px;
      border-radius: 5px;
      float: left;
      margin: 10px 0;
      border: solid 1px #ccc;
    }
    .form-input-half {
      width: 18%;
      padding: 10px;
      min-height: 46px;
      border-radius: 5px;
      float: left;
      margin: 10px 0;
      border: solid 1px #ccc;
    }
    .call-request {
      .form-label {
        display: block;
        width: 25%;
        float: left;
        padding: 8px 0;
        margin: 10px 0;
      }
      >input {
        width: 70%;
        padding: 10px;
        border-radius: 5px;
        float: left;
        margin: 10px 0;
        border: solid 1px #ccc;
      }
      >mat-form-field {
        width: 70%;
        float: left;
        margin: 10px 0;
      }
      .time-term {
        width: 70%;
        float: left;
        margin: 10px 0;
        .time {
          width: 20%;
          height: 35px;
          margin: 0 1%;
        }
        .price {
          width: 4%;
          height: 35px;
          display: inline-block;
          margin: 0 1%;
          color: red;
        }
      }
      .category {
        width: 70%;
        float: left;
        height: 40px;
        margin: 10px 0;
      }
      .submit {
        width: 200px;
        background: #1ab394;
        color: #fff;
        padding: 12px;
        font-size: 14px;
        border-radius: 5px;
      }
      &:after {
        content: '';
        display: block;
        clear: both;
      }
    }
    .table {
      width: 100%;
      >thead {
        background: $primaryColor;
        color: #fff;
        border-bottom: solid 1px #ccc;
        th {
          padding: 10px 0;
          font-weight: normal;
        }
      }
      >tbody {
        font-weight: lighter;
        >tr {
          border-bottom: solid 1px #eee;
          &:last-child {
            border-bottom: solid 0;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .employer-contianer {
    width: calc(100% - 30px);
    margin: 16px auto;
    padding: 10px;
    >mat-tab-group {
      .call-request {
        .form-label {
          width: 30%;
        }
        > input {
          width: 60%;
        }
        .time-term {
          .time {
            width: 21%;
          }
        }
        .submit {
          width: 80%;
        }
      }
    }
  }
}
