@import "../../scss/style.scss";

input {
  margin: 8px 1%;
  display: inline-block;
  min-height: 30px;
}
.control-label {
  width: 7%;
  margin: 8px 0;
  display: inline-block;
}
.small {
  width: 15.7%;
}
.address {
  width: 60%;
}
.date {
  width: 72.5%;
}
.detail-address {
  width: 21%;
}
.medium {
  width: 24%;
  margin: 8px 1%;
}
.large {
  width: 90%;
  mat-checkbox {
    margin: 0 3px;
  }
}
.btn-submit {
  background-color: $primaryColor;
  color: #fff;
  border: solid 0;
}
/deep/ .cdk-overlay-container {
  z-index: 1100;
}
